/* webkit scrollbar */
::-webkit-scrollbar {
       background-color: #111111;
       width: 10px;
       height: 10px;
   }

   ::-webkit-scrollbar-thumb {
       background-color: #666;
   }

   ::-webkit-scrollbar-thumb:hover {
       background-color: #999;
       border-radius: 3px;
   }

   ::-webkit-scrollbar-thumb:active {
       background-color: #ccc;
       border-radius: 5px;
   }

   ::-webkit-scrollbar-corner {
       color: #666;
   }

   /* navbar */
   .nav:not(.nav-tabs)>li>a:focus, .nav:not(.nav-tabs)>li>a:hover {
     background-color: transparent;
   }

   ul.nav:not(.nav-tabs) li:after {
       height: 0px;
       width: 100%;
       content:"";
       display: block;
       background-color: #D8490B;
       transition: 0.25s ease-out;
     }

   ul.nav:not(.nav-tabs) > li:hover:after {
     height: 97px;
     margin-top: -100px;
   }

   ul.nav:not(.nav-tabs) > li.no-hover:hover:after {
   height: inherit;
   margin-top: inherit;
   }

   @media screen and (max-width:770px) {
   ul.nav:not(.nav-tabs) > li:hover:after {
    height: inherit;
    margin-top: inherit;
   }
   }

   span.icon-bar {
     border: 1px solid black;
   }

   .navbar-default {
     margin-left: 40px;
     margin-right: 40px;
     border-radius: 0px;
     background-color: transparent;
     border-top: 2px solid black;
     border-bottom: 2px solid black;
     border-left: transparent;
     border-right: transparent;
     margin-top: 40px;
     height: 100px;
   }

   div.container-fluid, div.navbar-header, a.navbar-brand, ul.navbar-nav, ul.navbar-nav > li, ul.navbar-nav > li > a {
     height: 100px;
   }

   ul.navbar-nav > li > a {
     padding-top: 37px;
     width: 200px;
     text-align: center;
     font-size: 30px;
     color: black !important;
     transition: all 0.25s ease-out;
   }

   ul.navbar-nav > li > a:hover {
     color: white !important;
   }

   a.navbar-brand {
     padding-top: 37px;
     text-align: center;
     font-size: 40px;
     font-family: 'Bitter';
     color: black !important;
     transition: all 0.25s ease-out;
   }

   a.navbar-brand:hover {
     color: #D8490B !important;
   }

   h1, h2, h3, h4, h5, h6 {
     font-family: 'Bitter';
   }

   p, a, div, li {
     font-family: 'Montserrat';
   }

   div.previews {
     width: 100%;
     height: 250px;
     background-color: #5A4D89;
     color: white;
   }

   div.about-image {
     background-image: url(../IMG/logo.png);
     background-color: black;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     height: 400px;
   }

   div.about-text {
     height: 400px;
     background-color: #316766;
     color: white;
   }

   div.music-embed {
     height: 400px;
     background-color: #5A4D89;
   }

   div.music-text {
     background-color: #D8490B;
     height: 400px;
     color: white;
   }

   div.contact {
     background-color: #316766;
     color: white;
     width: 100%;
     height: 525px;
   }

   div.about {
     height: 400px;
   }

   div.music {
     height: 400px;
   }

   input.form-control, textarea.form-control {
     margin: 0px 0px 5px 0px !important;
   }

   hr.small {
     width: 200px;
     border: 3px solid white;
   }

   .btn-social {
     border-radius: 0px;
     border: 0px;
     transition: 0.25s ease-out;
     color: white;
     padding: 10 10px 10px 10px;
     width: 150px;
     margin-left: 10px;
     margin-right: 10px;
   }

   .btn-social:hover {
     background-color: white;
     color: black;
   }

   .btn-facebook {
     background-color: #3b5998;
     color: white;
   }

   .btn-twitter {
     background-color: #1da1f2;
     color: white;
   }

   .btn-snapchat {
     background-color: #fffc00;
     color: black;
   }

   .btn-soundcloud {
     background-color: #ff8800;
     color: white;
   }
